body {
    background: rgb(228, 221, 221);
}

ul {
    list-style: none;
    max-height: 750px;
    overflow: auto;
    cursor: pointer;
}

li:hover {
    background: grey;
}

a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: black;

}

a:hover {
    text-decoration: none;
    color: rgb(0, 177, 138);

}

.lessons {
    max-width: 720px;
    min-width: 320px;
    margin: 0 auto;
}

.lesson {
    background: silver;
    border: 5px solid grey;
    border-radius: 20px;
    text-align: center;
    padding: 7px;
    margin-top: 20px;
}