body {
  background: linear-gradient(white, #b6c2e7);
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.container ul {
  display: inline-block;
  list-style: none;
  overflow: auto;
  cursor: pointer;
}
.container a {
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: black;
}
.container .lessons, .container .homeworks {
  width: 500px;
}
.container .lesson, .container .homework {
  background: #d2d9e8;
  border: 5px solid #4267b2;
  border-radius: 20px;
  text-align: center;
  padding: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}