@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  background: linear-gradient(rgb(255, 255, 255), #b6c2e7);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-family: "Roboto Condensed", sans-serif;

  .lessons,
  .homeworks,
  .pdf-lessons {
    display: flex;
    flex-direction: column;
    width: 33%;

    h2 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        background: #d2d9e8;
        border: 5px solid #4267b2;
        border-radius: 20px;
        padding: 5px;
        margin: 10px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          text-align: center;
          height: 50px;
          font-size: 22px;
          color: #000;
        }
      }
    }
  }
}

@media screen and (max-width: 1167px) {
  .lessons,
  .homeworks,
  .pdf-lessons {
    width: 100% !important;
  }
}
