body {
  background: linear-gradient(rgb(255, 255, 255), #b6c2e7);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .lessons,
  .homeworks,
  .pdf-lessons {
    display: flex;
    flex-direction: column;
    width: 32%;

    h2 {
      text-align: center;
    }

    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      //height: 910px;
      list-style: none;
      //overflow-y: scroll;
      //cursor: pointer;

      li {
        background: #d2d9e8;
        border: 5px solid #4267b2;
        border-radius: 20px;
        text-align: center;
        padding: 7px;
        margin-top: 20px;
        margin-bottom: 20px;

        a {
          display: flex;
          justify-content: center;
          text-decoration: none;
          font-family: Arial, sans-serif;
          font-size: 20px;
          color: black;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .lessons,
  .homeworks,
  .pdf-lessons {
    width: 100% !important;
  }
}
