h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.container header h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
  text-transform: capitalize;
}
.container header p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #6f7cb2;
}
.container main {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 50px;
}
.container main article h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #37447e;
  text-transform: uppercase;
}
.container main article h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: #091133;
  margin-top: 15px;
}
.container main article p {
  margin-top: 10px;
  width: 70%;
}
.container main article button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  width: 189px;
  height: 26px;
  background: #111b47;
  border: none;
  border-radius: 2px;
  margin-top: 20px;
}