.container {

  // Time
  .time {
    font-size: 1.5em;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: darkblue;
  }
  // Time

  //  for text buttons in inputs
  label {
    font-size: 1.1em;
    margin-right: 15px;

      span {
        color: darkred;
      }
  }
  //  for text buttons in inputs

  // field for "football"
  #field {
    width: 200px;
    height: 200px;
    background-color: PaleTurquoise;
  }
  // field for "football"
  
  // dropdown  
  .dropdown {
    position: relative;
    display: inline-block;

    a:hover {
      background-color: #ddd;
    }

      .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;

        &:hover, &:focus {
          background-color: #2980B9;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }
      }

      .show {
        display: block;
      }
  }
  // dropdown
}
