.container {
  width: 1170px;
  margin: 0 auto;

  div {
    width: 300px;
    height: 200px;
    margin: 20px;

    &.box {
      border: 2px solid grey;
      border-radius: 10px;
      box-shadow: 0 0 0 5px red, 0 0 0 10px green;

      &:hover {
        transform: translate(42px, 0px);
      }
    }

    &.text {
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to top, red, yellow);
      border-radius: 10px;
      font-size: 42px;
      text-shadow: 5px 5px 5px crimson;
      transition: width, height 3s; // изменить ширину за 3 сек.

      &:hover {
        //transform: translate(50px, 0px); // сместить по x, y
        //transform: rotate(90deg); // повернуть на 90 градусов
        //transform: scale(-1, 1); // увеличить по x, y
        //transform: skew(10deg, 20deg); // наклон по x, y
        //transform: translate(50px, 0px) rotate(90deg) scale(-1, 1) skew(10deg, 20deg);
        //transform: matrix(2, 0, 0, 1, 20, 20);
        //transform: rotate3d(0, 1, 0.5, 3.142rad);
        transform: rotate(-42deg);
        transform-origin: top;
        width: 400px;
        height: 300px;
      }
    }
  }
  .animation {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    background-color: red;
    margin: 20px;
    animation-name: test;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-duration: 3s;
  }
  @keyframes test {
    0% {
      background-color: red;
    }
    25% {
      background-color: yellow;
    }
    50% {
      background-color: blue;
    }
    100% {
      background-color: green;
    }
  }
  img {
    filter: grayscale(1);
  }
}
