* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    color: #e3faff;

    .hero-header {
        width: 100%;
        display: grid;
        grid-row: row;
        grid-auto-rows: 50px;
        
        header {
            background: #b1d0b0;
            display: grid;
            align-items: center;
            padding-left: 15px;
        }

        nav {
            background: #68be65;
            display: grid;
            align-items: center;
            padding-left: 15px;
        }
    }

    #big-content {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr; /* fractions аналог 25% 50% 25% */
        grid-auto-rows: 600px;

        #sidebar {
            background: #5992d7;
            padding: 15px;
            display: flex;
            flex-flow: column wrap;
        }

        #content {
            background: #96b4da;
            padding: 15px;
            display: flex;
            flex-flow: column wrap;
        }

        aside {
            background: #5992d7;
            padding: 15px;

            .events {
                display: flex;
                flex-flow: column wrap;
            }
        }
    }

    footer {
        background: #b1d0b0;
        display: grid;
        grid-row: row;
        grid-auto-rows: 50px;
        align-items: center;
        padding-left: 15px;
    }

}

@media screen and (max-width: 960px)  { 
    .container #big-content {
        display: flow-root;
        grid-template-columns: none;
        
}

}

