* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    color: #e3faff;

    .hero-header {
        width: 100%;
        display: grid;
        grid-row: row;
        grid-auto-rows: 50px;
        
        header {
            background: #b1d0b0;
            display: grid;
            align-items: center;
            padding-left: 15px;
        }

        nav {
            background: #68be65;
            display: grid;
            align-items: center;
            padding-left: 15px;
        }
    }

    #big-content {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-auto-rows: 600px;

        #sidebar {
            background: #5992d7;
            padding: 15px;
        }

        #content {
            background: #96b4da;
            padding: 15px;
        }

        aside {
            background: #5992d7;
            padding: 15px;
        }
    }

    footer {
        background: #b1d0b0;
        display: grid;
        grid-row: row;
        grid-auto-rows: 50px;
        align-items: center;
        padding-left: 15px;
    }

}

@media screen and (max-width: 800px)  { 
    
}


