@charset "UTF-8";
.container {
  width: 1170px;
  margin: 0 auto;
}
.container .text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.container .text::before {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  text-transform: none;
  content: "«Lorem ipsum, dolor sit amet consectetur adipisicing elit. ";
}
.container .text::after {
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  text-transform: none;
  content: " Aliquam iusto rem consectetur iste voluptatem, corrupti ipsam quidem et debitis explicabo optio non nemo magni!";
}
.container .list-fruits > li {
  list-style: square;
  font-size: 1.2em;
}
.container .list-fruits > li:first-child {
  color: #e70b58;
}
.container .list-fruits > li:last-child {
  color: #4caf50;
  font-style: italic;
}
.container .list-box > li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 5px 0;
  width: 30%;
  height: 50px;
  border: 1px solid #cbcbcb;
  background: #eee;
}
.container .list-box > li:nth-child(3) {
  background-color: #ccffaa;
  border: 1px solid #aed991;
}
.container .list-box > li:nth-child(7) {
  background-color: #ccffaa;
  border: 1px solid #aed991;
}
.container .bg-about {
  background-color: #f1f1f1;
}
.container .bg-about .about-us {
  border: 3px solid red;
  border-radius: 5px;
  margin: 0 auto;
  width: 30%;
  padding: 0px 15px 15px;
  background: #fff;
}
.container .bg-about .about-us div {
  width: 200px;
  margin: 0 auto;
}
.container .bg-about .about-us div h2 {
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
}
.container .bg-about--two {
  background-color: #f1f1f1;
}
.container .bg-about--two .about-two {
  position: relative;
  height: 200px;
}
.container .bg-about--two .about-two .about-us--two {
  position: absolute;
  border: 3px solid red;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 0px 15px 15px;
  background: #fff;
}
.container .bg-about--two .about-two .about-us--two div {
  width: 200px;
  margin: 0 auto;
}
.container .bg-about--two .about-two .about-us--two div h2 {
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
}