@charset "UTF-8";
.container {
  width: 1170px;
  margin: 0 auto;
}
.container .one {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-width: 30px 30px 30px 30px;
  border-color: green red yellow violet;
  border-style: solid;
  border-radius: 50%;
  background-color: yellowgreen;
  color: white;
  text-align: center;
  /* box-sizing: border-box;  border, padding - включён в размер контента без этого будет 100px + border */
}
.container .one:hover {
  background-color: blueviolet;
}
.container .one::after {
  content: " - Remember this";
}
.container .one:hover:first-child {
  background-color: peachpuff;
}
.container .one:hover:nth-child(3) {
  background-color: brown;
}
.container div.two {
  display: inline-block;
  margin: 5px;
  width: 250px;
  height: 250px;
  border: 5px solid red;
  background: palegreen;
  box-sizing: border-box;
  /* border, padding - включён в размер контента 100 на 100 */
  overflow-y: scroll;
  /* скрывает контент в блок */
  overflow-x: hidden;
  /* скрывает контент в блок */
  z-index: auto;
  /* эфект наложения блока 1 на другой > для position: absolute и т.д. */
}