.container {
    width: 1170px;
    margin: 0 auto;

    ul>li {
        list-style: disc;
    }

    .my-table {
        border-collapse: collapse;
        border: 2px solid black;

        thead {
            border: 2px solid black;

            tr, td {
                border: 2px solid black;
            }
            
            .table-text {
                font-weight: bold;
                text-align: center;
            }
        }
        

        tr, td {
            border: 1px solid grey;
            padding: 5px 10px;
        }
    }

    .form-one {
        box-sizing: border-box;

        .input-fullwindow {
            width: -webkit-fill-available;
        }
        

        table {
            border: 1px solid grey;

            tr, td {
                border: 1px solid grey;
            }
        }

        thead {
            background: #ccccff;
            text-align: center;
        }
    }

    .form-two {
        display: flex;
        flex-direction: column;
        width: 598px;
        height: 432px;
        background: #ffff99;

        .form-text {
            font-size: 1.1em;
            font-weight: bold;
            text-align: center;

            .form-text--parent {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 28px;
                background-color: #ffcc00;
            }
        }

        .form-fields {
            padding-left: 30px;
        }
        

        .chose-answer {
            display: inline-flex;

            .radio-label {
                display: flex;
                flex-direction: column;
            }
        }
        
    }

}