.container {
    width: 1170px;
    margin: 0 auto;

    ul>li {
        list-style: disc;
    }

    .my-table {
        border-collapse: collapse;
        border: 2px solid black;

        thead {
            border: 2px solid black;

            tr, td {
                border: 2px solid black;
            }
            
            .table-text {
                font-weight: bold;
                text-align: center;
            }
        }
        

        tr, td {
            border: 1px solid grey;
            padding: 5px 10px;
        }
    }

    .form-one {
        box-sizing: border-box;

        .input-fullwindow {
            width: -webkit-fill-available;
        }
        

        table {
            border: 1px solid grey;

            tr, td {
                border: 1px solid grey;
            }
        }

        thead {
            background: #ccccff;
            text-align: center;
        }
    }

    .form-two {
        width: 598px;
        height: 432px;
        background: #ffff99;
        
            .form-text--parent {
                font-size: 1.1em;
                font-weight: bold;
                text-align: center;
                height: 28px;
                background-color: #ffcc00;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
            }
            .form-text--child {
                font-size: 1.1em;
                font-weight: bold;
                text-align: center;
                margin: 0 0 1em;
                
            }
        
        .form-field {
            display: flex;
            justify-content: flex-start;

            label {
                width: 250px;
                text-align: right;
                padding-right: 15px;
            }
        
        }

        
    }
}