.container {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 1340px;
  font-family: Arial, sans-serif;
}
.container .header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .header-container .logo {
  margin: 0 auto;
}
.container .header-container .nav-bar {
  color: black;
  font-size: 20px;
}
.container .header-container .nav-bar ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
.container .header-container .nav-bar ul > li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
.container .header-container .nav-bar li a {
  text-decoration: none;
  color: black;
}
.container .header-container .nav-bar li a:hover {
  color: red;
  cursor: pointer;
}
.container .header-container .contacts a {
  text-decoration: none;
  color: black;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
.container .header-container .contacts a:hover {
  color: red;
}
.container .header-container .contacts a:active {
  color: green;
}
.container .content {
  color: #887d7d;
  font-size: 20px;
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}