$sideAside: #5992d7;

* {
    padding: 0;
    margin: 0;
    color: #fff;
}

a:hover {
    color: red;
}

a:focus {
    color: green;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    
    .hero-header {

        .header {
            background: #b1d0b0;
            min-height: 30px;
            padding: 15px;
        }

        .nav-bar {
            background: #68be65;
            min-height: 30px;
            padding: 15px;
        }
    }

    .big-content { 

        .sidebar {
            background: $sideAside;
            width: 300px;
            height: 600px;
            float: left;
            
            .sidebar-content {
                padding: 15px;
            }
            
            a {
                display: list-item;
                margin-top: 10px;
                list-style: none;
            }
        }

        .content {
            float: left;
            background: #96b4da;
            width: 570px;
            height: 600px;
            
            .story-content {
                padding: 15px;
            }

            .story {
                display: list-item;
                margin-top: 10px;
                list-style: none;
            }
        }

        .aside {
            float: left;
            background: $sideAside;
            width: 300px;
            height: 600px;

            .events {
                padding: 15px;
            }

            .events a {
                display: list-item;
                margin-top: 10px;
                list-style: none;
            }
        }
    }

    .footer {
        float: right;
        background: #b1d0b0;
        min-height: 30px;
        padding: 15px;
        
    }

}

@media screen and (max-width: 1187px) { 
    .container .big-content .sidebar, .content {
        width: 50% !important;
    }
    .container .big-content .aside {
        width: 100% !important;
    }
}

@media screen and (max-width: 960px) { 
    .container .big-content .sidebar, .content, .aside {
        width: 100% !important;
    }
}